   <div class="trades-panel">
    <div class="button-panel">
      <a routerLink="/file-upload" routerLinkActive="router-link-active" #rla="routerLinkActive">ALL</a>
      <a routerLink="/file-upload" routerLinkActive="router-link-active" #rla="routerLinkActive">TRADER1</a>
      <a routerLink="/file-upload" routerLinkActive="router-link-active" #rla="routerLinkActive">TRADER2</a>
      <a routerLink="/file-upload" routerLinkActive="router-link-active" #rla="routerLinkActive">BUY</a>
      <a routerLink="/file-upload" routerLinkActive="router-link-active" #rla="routerLinkActive">SELL</a>
      <!-- Add more buttons as needed -->
    </div>
    <ag-grid-angular
        style="width: 100%; height: 512px;"
        class="ag-theme-quartz"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [pagination]="true"
        [paginationPageSize]="10"
        [defaultColDef]="defaultColDef"
        [enableAdvancedFilter]="true"
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
    </div>